<h1><%= @actor.name %> Information</h1>

<section id="actor_info">
  <p>Name: <%= @actor.name %></p>
  <p>Age: <%= @actor.age %></p>
</section>

<section id="movies">
  <% @actor.movies.each do |movie| %>
    <%= movie.name %>
  <% end %>
</section>

<section id="worked_with">
  <h1>Worked With<h1>
  <%= @actor.worked_with.each do |actor| %>
    <p><%= actor.name %></p>
  <% end %>
</section>
