<h1> @movie.name </h1>

<section id="movie_info">
  <p>Name: <%= @movie.name %></p>
  <p>Release Year: <%= @movie.year %></p>
  <p>Genre: <%= @movie.genre %></p>
</section>

<section id="movie_actors">
  <h1>Actors in this Movie</p>
  <% @movie.sorted_actors.each do |actor| %>
    <%= actor.name %>
  <% end %>
</section>

<section id="average_actor_age">
  <p>Average Age: <%= @movie.average_age %></p>
</section>

<section id="actor_name_form">
  <%= form_tag "/movies/#{@movie.id}", method: :patch do %>
    <%= label_tag :actor_name %>
    <%= text_field_tag :actor_name %>

    <%= submit_tag "Submit Name" %>
  <% end %>
</section>
